.body{
  position: absolute;
  /* background-color: #23252C; */
  height: 100%;
  width: 100%;
}

.navbar{
  /* position: absolute; */
  height:55px;
  width: 100%;
  background-color: #F55A5A;
  color: white;
  display:flex;
  align-items: center;
  justify-content: center;
}

.navbar--icon{
  font-size: 20px;
  margin-right: 5px;
}

.navbar--title{
  font-family: 'IBM Plex Sans';
  font-weight: 600;
}

.destination{
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  font-family: 'IBM Plex Sans';
}

.destination--img{
  height:180px;
  width:130px;
  border-radius: 5px;
}

.destination--details{
  padding:10px;
  width:550px;
  height:180px;
}

.destination--icon{
  color: #F55A5A;
}

.destination--location{
  color: black;
  font-weight: 500;
  letter-spacing: 2px;
  margin-right: 10px;
  margin-left: 5px;
}

.destination--link{
  color: lightgray;
  transition:0.5s;
}

.destination--link:hover{
  color:#F55A5A;
}

.destination--title{
  margin-top: 10px;
  margin-bottom: 10px;
}

.destination--date{
  font-weight: 600;
  margin-bottom: 10px;
}

.destination--desc{
  margin-top: 5px;
}