.app{
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.navbar{
  /* position: absolute; */
  width: 100%;
  height: 70px;
  background-color: white;
  color:#FF5A5F;
  display:flex;
  align-items: center;
  box-shadow: 0 3px 3px -2px rgba(0,0,0,.2);
}

.navbar--logo{
  margin-left: 20px;
  font-size: 30px;
}

.navbar--text{
  font-weight: 600;
  margin-left: 5px;
}

.hero--grid{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 25px;
  width:70%;
}

.hero--text{
 margin: 25px 30px;
}

.hero--text > h1{
  font-weight: 600;
  font-size: 36px;
}

.hero--text > h3{
  width: 60%;
  min-width: 320px;
  font-weight: 400;
  font-size: 16px;
}

.cards{
  display: flex;
}

.card{
  width: 235px;
  margin: 10px;
  font-size: 12px;
}

.card--img{
  width: 235px;
  border-radius: 9px;
}

.card--star{
  height: 14px;
}

.card--reviews, .card--country{
  color: #918E9B ;
}