* {
    font-family: IBM Plex Sans;
}

.logo{
    width:150px;
    margin-left: 10px;
}

.nav{
    background: #262626;
    /* position:absolute; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: -1% -1% 1% -1%;
    width: 100vw;
    height:100px;
    box-shadow: 0 5px 4px -2px rgba(0,0,0,.2);
}
.nav-items{
    list-style: none;
    display:flex;
    font-weight: 400;
}

.nav-items li{
    padding: 15px;
}

.nav-items li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}

.nav-items li a:hover{
    color:rgb(43, 207, 248);
    transition: 0.5s;
}

.content{
    height: 200%;
}



.footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:30px;   /* Height of the footer */
    background:rgb(73, 73, 73);
    color:white;
}

.footer-text{
    margin-left: 10px;
}